{% if wrapper_element != '<none>' %}
  <{{ wrapper_element }} {{ attributes }}>
{% endif %}

  {% if title %}
    <{{ title_element }}{{ title_attributes }}>{{ title }}</{{ title_element }}>
  {% endif %}

  {% if collapsible %}
    <div class="field-group-wrapper">
  {% endif %}

  {{children}}

  {% if collapsible %}
    </div>
  {% endif %}

{% if wrapper_element != '<none>' %}
  </{{ wrapper_element }}>
{% endif %}
